<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285660813309-mq5k9k1bpal7c66ph5h7i5ivn9lb4qou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285660813309-mq5k9k1bpal7c66ph5h7i5ivn9lb4qou</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285660813309-86sh1r8tic016j6qdb1dbso4866lj2f7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdjZZZG5mMXKrzS5WzkHpwe3uQCUytHtA</string>
	<key>GCM_SENDER_ID</key>
	<string>285660813309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.infinitescrolltest</string>
	<key>PROJECT_ID</key>
	<string>infinite-scroll-test-367b1</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-scroll-test-367b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285660813309:ios:1897afba9dd8e3b0e9eb94</string>
</dict>
</plist>